<div id="promo">
    <h1 class="col-12 text-center display-4" id="welcome">Welcome to {{title}}</h1>
    <p class="col-10 text-center offset-sm-1 lead">{{message}}</p>
</div>
<section id="cntower">
    <h2 class="col text-left">CN Tower</h2>
    <img class="col-sm-12 col-md-4 float-left img-responsive" src="/images/cn-tower.jpg" alt"cntower">
    <p class="col-10 text-center">{{CNTower}}</p>
</section>