<h1 class="col-12 text-center display-4">Welcome to {{title}}</h1>
<p class="col-8 text-center offset-sm-2 lead">{{message}}</p>

<section class="">
    <h2 class="col text-left">CN Tower</h2>
    <img class="col-4 float-left img-responsive" src="/images/cn-tower.jpg" alt"cntower">
    <p class="col-10 text-center">{{CNTower}}</p>
</section>